page-home {
    #map{
        height: 90%;
        width: 100%
    }

    .btn{
        border: 1px solid white
    }

    .btn-container{
        background-color:#d6d7d8; 
        height: 10%;
        display: flex; 
        align-content: center; 
        flex-direction: row; 
        justify-content: center
    }
}
